body[data-theme="dark"] {
  color: $dark-text-base-color;
  background-color: $dark-green-bg;
  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-white;
    //text-shadow: 2px 2px 1px #000;
  }

  // Table
  table {
    thead {
      color: $dark-white;
      border-color: $dark-light;
    }

    th,
    td,
    tr {
      border-color: $dark-light;
    }
  }

  // Author bio
  .author .author-bio {
    color: rgba(199,190,190,0.9);
  }

  // Post
  .page-content {
    figure {
      img:hover {
        box-shadow: 0 0 20px #e6cbb3; //#0036c7;
      }
    }
    a {
      color: $dark-text-link-green;

      &:hover,
      &:active,
      &:focus {
        color: $dark-text-link-green-active;
      }
    }

    h3 {
      border-color: $dark-light;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .anchor-head {
        color: #e6cbb3;
        text-shadow: 3px 3px 1px #000;
        
        &:hover {
          color: rgba(0, 0, 0, 0);
          text-shadow: 1px 1px 0px #e6cbb3;
        }
      }
    }
  }

  // Syntax
  code {
    &.highlighter-rouge {
//      background-color: $dark-green;
      background-color: rgba(34, 43, 39, 0.75);
    }
  }

  // kbd tag
  kbd {
    border-color: $light-date-footer;
    color: $dark-white;
    text-shadow: 0 1px 0 $dark-black;
  }

  // horizontal rule
  hr {
    border-color: $dark-green;
  }

  // Post Meta
  .post-meta {
    color: $dark-gray;

    time {
      &::after {
        background-color: $dark-light;
      }
    }

    span[itemprop="author"] {
      border-color: #387e67;
    }
  }

  // Link
  a {
    color: inherit;
    text-decoration-color: $dark-smoke;

    &:hover {
      color: $dark-text-link-green;
    }

    &:focus {
      outline-color: $dark-text-link-green;
    }
  }

  // List
  li {
    &:before {
      color: $dark-white;
    }
  }

  // Blockquote
  blockquote {
    color: #f7efc3; //#e6cbb3; //#bac8c4 //#b1cec6; // $dark-gray;
    border-color: $dark-green; //$dark-light;
  }

  // Strong, Bold
  strong,
  b {
    color: $dark-white;
    font-weight: 600;
  }

  // Navbar
  .navbar {
    border-color: $dark-light;
    background-color: $dark-green-bg;
    .menu {
      a#mode {
        .mode-sunny {
          display: block;
        }
        .mode-moon {
          display: none;
        }
      }

      .menu-link {
        color: $dark-white;
        &::before {
          background-color: #e6cbb3;
        }
        &:hover {
          //background-color: rgba(255, 255, 255, 0.1);
          background-color: #212c27; 
        }
        &.rss:hover {
          background-color: unset;
        }
      }
      @include media-query($on-mobile) {
        background-color: $dark-green-bg;
        border-color: $dark-light;

        .menu-icon {
          > svg {
            fill: $dark-white;
          }
        }

        input[type="checkbox"]:checked ~ .trigger {
          background: $dark-green-bg;
        }
      }
    }
  }

  // Post Item
  .post-item {
    &:not(:first-child) {
      border-color: $dark-light;
    }

    .post-item-date {
      color: $dark-date-green;
      background-color: $dark-date-bg-green;
    }
    .post-item-title {
      a {
        color: $dark-text-base-color;

        &:hover,
        &:focus {
          color: $dark-white;
        }
      }
    }
  }

  // Post Navigation
  .post-nav {
    border-color: $dark-light;

    .post-nav-item {
      font-weight: $bold-weight;

      .post-title {
        color: $dark-white;
        opacity: 0.9;
      
        &:hover,
        &:focus {
          color: $dark-text-link-green;
        }
      }
      .nav-arrow {
        color: $dark-gray;
      }
    }
  }
  .archive-tags {
    .tag-item {
    background-color: rgba(34, 43, 39, 0.75)
    }
  }

  // Footer
  .footer {
    span.footer_item {
      color: $dark-date-green;
    }
    a.footer_item:not(:last-child) {
      color: $dark-date-green;
    }
    .footer_copyright {
      color: $dark-gray;
     // opacity: 1;
    }
  }

  // 404 Page
  .not-found {
    .title {
      color: $dark-white;
      text-shadow: 1px 0px 0px $dark-text-link-green;
    }
    .phrase {
      color: $dark-text-base-color;
    }
    .solution {
      color: $dark-text-link-green;
    }
    .solution:hover {
      color: $dark-text-link-green-active;
    }
  }  

  .search-article {
    input[type="search"] {
      color: $dark-text-base-color;
      &::-webkit-input-placeholder {
        color: rgba(128,128,128,0.8);
      }
    }
  }
}
