body[data-theme="dark"] {
  div.btn #scrolltop {
    border: 2px solid;
    border: 2px solid rgba(230, 203, 179, 0.2);
    background-color: #161d1a;
    box-shadow: 1px 5px 6px 0px #000;
    .fa-chevron-up {
    color: #e6cbb3;
    }
  }
}
div.btn #scrolltop {
  position: fixed;
  bottom: 50px;
  border-radius: 100%;
  border: 2px solid rgba(107, 120, 134, 0.4);
  font-size: 23px;
  box-shadow: 1px 5px 6px 0px #626c77;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  outline: none;
  padding: 0;
  background-color: #ececec;
  -moz-transform: translate3d(0);
  -webkit-transform: translate3d(0);
  -ms-transform: translate3d(0);
  -o-transform: translate3d(0);
  transform: translate3d(0);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  @include media-query($on-mobile) {
    right: 1rem;
    bottom: 4rem;
  }
  -moz-transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.4s linear;
  -webkit-transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.4s linear;
  -ms-transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.4s linear;
  -o-transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.4s linear;
  transition: visibility 0.6s ease-out, opacity 0.6s ease-out, transform 0.4s linear;
  &:hover {
    -moz-transform: translate3d(0,-5px,0);
    -webkit-transform: translate3d(0,-5px,0);
    -ms-transform: translate3d(0,-5px,0);
    -o-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    -moz-transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    -ms-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
  }
  .fa-chevron-up {
  color: #6b7886;
  position: relative;
  text-align: center;
  line-height: 3rem;
  bottom: 1px;
  }
}

@media (min-width: 768px) { //1650 1400
  div.btn #scrolltop {
    right: 5vw;
  }
}
@media (min-width: 1401px) {
  div.btn #scrolltop {
    right: 10vw;
  }
}
@media (min-width: 1681px) {
  div.btn #scrolltop {
    right: 20vw;
  }
}
@media (min-width: 1921px) {
  div.btn #scrolltop {
    right: 25vw;
  }
}
@media (min-width: 2561px) {
  div.btn #scrolltop {
    right: 35vw
  }
}
