 aside#toc-wrapper {
   position: -webkit-sticky;
   position: sticky;
   margin: 0;
   margin-top: 11em; // 20.5em;
   float: left;
   top: 67px;
   max-width: 250px;
   font-size: 15px;
   border-radius: 10px;
   background-color: #161d1a;
   display: block;
   box-shadow: 1px 5px 6px 0px #000;
   @include media-query($on-mobile) {
     display: none;
   }
   // top: 67px;
   h3.toc-heading {
     width: 200px;
     border-bottom: solid 1px #c7bebe;
     margin-left: 25px;
     font-size: 20px;
   }
   nav#toc {
     padding-right: 10px;
   }
   li::before {
     content: "";
     margin-left: unset;
     width:  unset;
   }
   li.toc_item {
     border-left: solid 1px #172623;
     margin-left: 10px;
     &.active {
       border-color:#e6cbb3;// #76ffd2;
       background-color: #212c27;// #172623;
     }
   }
   li.toc_item a {
     text-decoration: none;
     padding: 3px;
     margin-left: 15px;
     display: inline-block;
     &.active {
       // background-color: #212c27;// #172623;
       border-radius: 10px;
       font-weight: 600;
       color: white;
     }
   }
 }


/* @media (min-width: 768px) { //1650 1400
  ul.toc  {
    
  }
} */
/*
@media (min-width: 1401px) {
  ul.toc  {
    right: 1vw;
  }
}
@media (min-width: 1681px) {
  ul.toc  {
    right: 5vw;
  }
}
@media (min-width: 1921px) {
  ul.toc  {
    right: 15vw;
  }
}
@media (min-width: 2561px) {
  ul.toc  {
    right: 20vw
  }
}*/
