//#arrow.toparrow {
#arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5em 25%;
  border: 2px solid #4f4f4f;
  border-radius: 100%;
  font-size: 23px;
  background-color:  #2f2b2b;
  box-shadow: 1px 5px 6px 0px #000;
  padding: 0 10px;
  display: block;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  .fa-angle-up {
  color: #e6cbb3
  }
  @include media-query($on-mobile) {
    margin: 0;
  }    
}
