<!--
<nav class="post-nav">
  <div class="post-nav-item post-nav-prev">
    {% if page.previous %}
    <div class="nav-arrow">Previous</div>
    <a href="{{ page.previous | relative_url }}">
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %}
  </div>
    
  <div class="post-nav-item post-nav-next">
    {% if page.next %}
    <div class="nav-arrow">Next</div>
    <a href="{{ page.next | relative_url }}">
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}
  </div> 
</nav>
-->
<nav class="post-nav">
  {% if page.previous %}
  <a
    class="post-nav-item post-nav-prev"
    href="{{ page.previous | relative_url }}"
  >
    <div class="nav-arrow">Previous</div>
    <span class="post-title">{{ page.previous.title }}</span>
  </a>
  {% endif %} {% if page.next %}
  <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
    <div class="nav-arrow">Next</div>
    <span class="post-title">{{ page.next.title }}</span>
  </a>
  {% endif %}
</nav>
